/* Fonts
font-family: 'Lora', serif;
font-family: 'Ubuntu', sans-serif;
*/



body {
  --navigation-text: #717171;
  --main-text: #707070;
  --header-bg: #F8F8F8;
  --dark-blue: #143774;
  --light-blue: #1792D2;
  --sidebar-bg: #EBEBEB; 
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.125rem;
  color: var(--main-text);
  margin: 0;
  font-weight: 300;
}

img {
  width: 100%;
  margin-bottom: 1em;
  display: block;
}

/******
  TYPOGRAPHY  
*******/


h1,
h2,
h3 {
  color: var(--dark-blue);
  font-family: 'Lora', serif;
  font-weight: 400;
  margin-top: 0;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1em;
}

strong {
  font-weight: 700;
}

a {
  color: var(--light-blue);
}

.article-body {
  margin-top: 0;
}

.article-read-more,
.article-info {
  font-size: .875rem;
}

.article-read-more {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
}

.article-read-more:hover,
.article-read-more:focus {
  color: var(--dark-blue);
  text-decoration: underline;
}


.subheading {
  font-size: .75rem;
  font-weight: 700;
  color: var(--light-blue);
  margin: 0;
  letter-spacing: .2rem;
}

.widget-body, .article-info {
  font-size: .875rem;
  margin-top: 0;
}

.article-info {
  margin: 1em 0;
}

/******
   LAYOUT 
*******/

.wrapper {
  margin: 0;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.container-flex {
  display: flex;
  flex-direction: column;
}

@media (min-width: 765px) {
  .container-flex {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* Header */

header {
  background-color: var(--header-bg);
  padding: 2em 0;
  text-align: center;
}


.titles {
  margin-bottom: 1em;
}

@media (min-width: 765px) {
  .titles {
    margin-bottom: 0em;
  }
}

/* Navigation */


nav ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style: none;
  margin: 0;
}

nav li {
  margin: 0.5em 0;
}

@media (min-width: 765px) {
  nav ul {
    flex-direction: row;
  }
  nav li {
    margin: 1em;
  }
}

li a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--navigation-text);
}

nav a:hover,
nav a:focus {
  color: var(--light-blue);
}

/* Content */
@media (min-width: 765px){
  main {
    width: 70%;
  }
  
  aside {
    width: 25%;
  }
}

/* Article */

.article-featured {
  display: flex;
  flex-direction: column;
  padding: 2em 0;
  margin: 2em 0;
  border-bottom: 1px solid var(--main-text);
}

.article-featured-img {
  order: -2;
}

.article-info {
  order: -1;
}

.article-featured-title {
  order: 0;
}


/* Footer */ 

footer {
  background-color: var(--dark-blue);
}

.container-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: .5;
  padding: 3em 0;
}

.container-footer p {
  color: #fff;
  margin: .5em;
}

